<div class="row">
  <nav class="sticky col-12">
    <a routerLink="/home">Home</a>
    <a routerLink="/showreel">Showreel</a>
    <a routerLink="/about">About</a>
    <a routerLink="/equipment">Equipment</a>
  </nav>
</div>

<router-outlet></router-outlet>

<div class="row">
  <footer class="sticky col-12">
    <span class="contact">Contact me: </span>
    <a href="mailto:nbarattino@gmail.com">nbarattino@gmail.com</a>
    <a href="tel:1-571-730-7584">(571) 730-7584</a>
    <a href="https://www.linkedin.com/in/nikki-barattino/">LinkedIn</a>
  </footer>
</div>
